TS_SERVER=https://hs.xxx.com
TS_AUTHKEY=xxxx
TS_NODE_NAME=xxxxx
TS_SUBNET_RANGE=100.64.0.0/10,10.255.0.0/16

NODE_SUBNET_NAME=xxxx
NODE_SUBNET_RANGE=10.255.0.0/24

INJECT_LABEL_KEY=app.route.inject

DNS_POST_URL=http://dns.xxxx.com/update
DNS_LABEL_KEY=app.dns.name
